.stage {
    
    border-radius: 1px;
    min-height: 1000px;
    position: relative;
    min-width: 800px;
  }
  .stage ul{
     height: 50px;
     float:right;
  }
  .stage ul li{
    display: inline-block;
    padding: 30px 115px;
    color: white;
    font-size: 20px;
    background-color:rgba(17, 17, 139, 0.274);
}
  #line{
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      color: white;
  }
  .Resume img{
    margin-left: 60px;
    border-radius: 30%;
  }

 .GitHub img{
    margin-left: 70px;
 }
 .Linkedin img{
    margin-left: 70px;
 }
 .email img{
  margin-left: 60px;
}


  nav{
      Position:absolute;
      height: 1000px;
      Width: 220px;
      background-color: rgba(22, 55, 105, 0.212);
    
  }



  .images{
    
    display:flex;
    flex-direction: column;
    gap: 50px;
    position: fixed;
    /*margin-left: 30px;*/
    margin-top: 15px;
    
  }
  body{
    background: linear-gradient(to right, rgb(74, 74, 121), rgba(8, 95, 129, 0.945));
  }


  