



/*Welcome Message styling*/
  .Welcome_msg {
    color: rgb(133, 139, 139);
    text-align: center;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:normal;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  
    animation: effect 10s linear 2s infinite alternate;

  }
  
  #line{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
  .stage {
    background: linear-gradient(to right, rgb(74, 74, 121), rgba(8, 95, 129, 0.945));
    border-radius: 1px;
    min-height: 1000px;
    position:relative;
    min-width: 1000px;
  }

  /*Annimation Block Class*/

 .block {
    
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    left: 300px;
    top: 150px;
    animation: myfirst 10s linear 2s infinite alternate;
  }
  /*Annimation using Keyframes*/
  
  @keyframes myfirst {
    0%   {background-color:red; left:300px; top:0vh;}
    25%  {background-color:yellow; left:300px; top:25vh;}
    50%  {background-color:blue; left:300px; top: 50vh;}
    75%  {background-color:green; left:300px; top: 75vh;}
    100% {background-color:red; left:300px; top:100vh}
  }

  @keyframes effect {
    0% {
        color: blue;
    }
    25% {
      color: rgb(208, 255, 0);
    }
    50% {
        color: purple;

          }
    75% {
    color: rgb(0, 255, 191);
      }

    100% {
        color: Red;
    }
  }